@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>United Bank S.C Directory</h2>
    <p class="lead">Welcome to United Bank S.C Online Telephone Directory. You can search for specific Person, Department.  you can also reverse lookup a number to determine which department it belongs to</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    
</div>